@import "tailwindcss";

/* App defaults */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #0b0c10;
}

::-webkit-scrollbar {
  display: none;
}
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
}

*[data-tauri-drag-region="true"] {
  app-region: drag;
}
*[data-tauri-drag-region="false"] {
  app-region: no-drag;
}